[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-migrate = "*"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-marshmallow = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
flask = "==3.0.2"
flask-cors = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
